<p>Add Transaction</p>

<form method="post" action="/home">
  <label for="amount">Amount:</label>
  <input id="amount" type="number" name="amount" />

  <label for="merchant-select">Select a merchant:</label>
  <select id="merchant-select" name="id">
    <%for merchant in @merchants%>
    <option value= "<%= merchant.id %>"> <%= merchant.name %> </option>
    <%end%>
  </select>

  <label for="tag-select">Select a tag:</label>
  <select id="tag-select" name="id">
    <%for tag in @tags%>
    <option value= "<%= tag.id %>"> <%= tag.name %> </option>
    <%end%>
  </select>





  <input type='submit' value="Submit Transaction"/>
</form>
